body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pexels-pixabay-268883.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    margin-top:auto;
    margin-bottom: auto;
    border-radius:15px;
    background-color: white;
    opacity:0.7 ;

}
h3{
    font-family:  sans-serif;
    color:#2c4a6b ;
    letter-spacing: 1px;
}
label{
    font-family:  sans-serif;
    color:#2c4a6b ;
    letter-spacing: 1px;
    margin: 10px;
    padding: 5px;
}
input{
    margin: 10px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom:1px solid #2c4a6b;
    color:darkred;
    margin-left:5em;
    margin-right:5em;
}
button{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 12px #292828, -6px -6px 12px #e2e0e0;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom:20px;
    color: darkred;
}
button::before{
    content:'';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right , #e08560ff 0%, #2c4a6b 100%);
    transition: .5s  ease;
    display: block;
    z-index: 0;
}
button:hover::before{
    width: 9em;
    opacity:.7;
    
}
.sign{
    display: flex;
    align-items: center;
    
}
i{
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}
.social:hover > :not(:hover){
    opacity: 0.2;
    
}